spring:
  config:
    activate:
      on-profile: mysql

  datasource:
    url: ${LOTTO_DB_URL}
    username: ${LOTTO_DB_USERNAME}
    password: ${LOTTO_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  sql:
    init:
      mode: never