<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.lotto.repository.SmsLogMapper">

    <insert id="insertSmsLog" parameterType="SmsLog" useGeneratedKeys="true" keyProperty="smsId">
        INSERT INTO sms_log (
            participant_id,
            type,
            status,
            requested_at
        )
        VALUES (
            #{participantId},
            #{type},
            #{status},
            NOW()
        )
    </insert>

</mapper>
